.page {
  background: #000;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  @media screen and (max-width: 1279px) {
    .page {
      padding-left: 18px;
      padding-right: 18px;
    }
  }

.header {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding: 45px 0 40px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 685px) {
  .header {
  padding: 28px 9px 31.6px;
  }
}

.logo {
  margin: 0;
  background-image: url(../../images/logo.png);
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 540px) {
  .logo {
    width: 103.74px;
    height: 24.4px;
    background-position: center;
    background-size: cover;
  }
}

.profile {
  max-width: 880px;
  width: 100%;
  padding-top: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 685px) {
  .profile {
  flex-direction: column;
  padding-top: 42px;
  }
}

.profile__avatar {
  margin-right: 30px;
}

@media screen and (max-width: 685px) {
  .profile__avatar {
    margin-right: 0;
    margin-bottom: 26px;
  }
}

.profile__pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.profile__info {
  margin-right: auto;
}

@media screen and (max-width: 685px) {
  .profile__info {
    margin: 0 auto;
  }
}

.profile__name-container {
  display: flex;
  align-items: baseline;
}

.profile__name {
  margin: 0 18px 0 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
}

@media screen and (max-width: 685px) {
  .profile__name {
    text-align: center;
    font-size: calc(27px + 15 * ((100vw - 320px) / (685 - 320)));
    line-height: 1.22;
    margin-right: 10px;
  }
}

.profile__edit-button {
  background-image: url(../../images/buttons/Edit-Button.svg);
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 685px) {
  .profile__edit-button {
    width: calc(18px + 6 * ((100vw - 320px) / (685 - 320)));
    height: calc(18px + 6 * ((100vw - 320px) / (685 - 320)));
  }
}

.profile__about {
  margin: 16px 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (max-width: 685px) {
  .profile__about {
    text-align: center;
    margin-top: 14px;
    font-size: calc(14px + 4 * ((100vw - 320px) / (685 - 320)));
    line-height: 1.21;
  }
}

.profile__add-button {
  background-image: url(../../images/buttons/Add-Button-big.svg);
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 685px) {
  .profile__add-button {
    width: 100%;
    margin-top: 36px;
  }
}

@media screen and (max-width: 540px) {
  .profile__add-button {
    background-image: url(../../images/buttons/Add-Button-small.svg);
  }
}

.elements {
  max-width: 880px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 66px;
  margin: 0 auto;
}

@media screen and (max-width: 685px) {
  .elements {
    padding-top: 36px;
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 915px) {
  .elements {
  max-width: 581px;
  }
}

@media screen and (max-width: 617px) {
  .elements {
  max-width: 282px;
  }
}

.elements__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  margin: 0 auto;
}

.element {
  display: grid;
  grid-template-rows: 282px 1fr;
  overflow: hidden;
  border-radius: 10px
}

.element__picture {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.element__description {
  max-width: 246px;
  background-color: #fff;
  padding-left: 21px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.element__title {
  max-width: 90%;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  background-color: transparent;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__like-button {
  background-image: url(../../images/buttons/Like-Button-Disabled.svg);
  width: 22px;
  height: 19px;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.element__like-button:hover {
  opacity: 0.5;
}

.element__like-button:active {
  background-image: url(../../images/buttons/Like-Button-Active.svg);
}

.footer {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 60px;
}

@media screen and (max-width: 617px) {
  .footer {
    padding-bottom: 36px;
  }
}

.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #545454;
  margin: 0;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.popup__container {
  width: 430px;
  margin: auto;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  z-index: 2;

}

@media screen and (max-width: 540px) {
  .popup__container {
    width: calc(282px + 148 * ((100vw - 320px) / (540 - 320)));
    padding: 25px 22px;
  }
}

.popup__closed-button {
  background-image: url(../../images/buttons/Close-button.svg);
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -38px;
  right: -38px;
  transition: opacity 0.2s linear;
}

.popup__closed-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 685px) {
  .popup__closed-button {
    width: calc(20px + 12 * ((100vw - 320px) / (685 - 320)));
    height: calc(20px + 12 * ((100vw - 320px) / (685 - 320)));
  }
}

@media screen and (max-width: 440px) {
  .popup__closed-button {
    right: calc(0px - 38 * ((100vw - 320px) / (440 - 320)));
  }
}

.popup__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  color: #000;
}

@media screen and (max-width: 540px) {
  .popup__title {
    font-size: calc(18px + 6 * ((100vw - 320px) / (540 - 320)));
    line-height: 1.22;
  }
}

.popup__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 54px 0 48px;
}

@media screen and (max-width: 540px) {
  .popup__form {
    padding: 75px 0 45px;
  }
}

.popup__input {
  padding: 0 0 13px;
  border-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
}

.popup__input:focus {
  outline: none;
  border: 1px solid #000;
  box-shadow: 10px 10px 0px #000;

}

.popup__input_name {
  margin-bottom: 30px;
}

.popup__input_about {

}

.popup__submit-button {
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #fff;
  background-color: #000;
  border-radius: 2px;
  padding: 14px 0 18px 0;
  box-sizing: border-box;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.popup__submit-button:hover {
  opacity: 0.8;
}
