.popup__input {
  padding: 0 0 13px;
  margin-bottom: 30px;
  border-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

.popup__input:focus {
  outline: none;
  border: 1px solid #000;
  box-shadow: 10px 10px 0px #000;
}
